ul li {
    margin-top: 25px;
}

li a {
    text-decoration: none;
    color: #666666;
}

li:hover a {
    color: #21469b
}

.first-col {
    margin-top: 25px;
}

.footer-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
    text-align: start;
}

.footer-social i {
    margin-right: 20px;
}




.download a {
    width: 50%;
}

.download img {
    width: 90%;
}

.footer-bottom-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: 500;

}

.footer-bottom-list li {
    list-style: none;
    margin-right: 10px;
}

.footer-bottom {
    font-size: 10.4px;
}


.footer-bottom a {
    text-decoration: none;
    font-weight: 500;
}

.footer-bottom a:hover {
    color: rgb(63, 63, 63);
}